/* Form styles */
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2rem 0;
  max-width: 40rem;
  width: 100%;
}

form label,
form input,
form button {
  margin: 0.5rem 0;
}

form label {
  font-weight: bold;
  font-size: 1.2rem;
}

form input[type="text"],
form input[type="file"] {
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: 0.3rem;
  width: 100%;
  max-width: 30rem;
}

form button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  font-size: 1rem;
  cursor: pointer;
}

form button:hover {
  background-color: #0062cc;
}

/* Debug div styles */
#debug {
  background-color: #242424;
  color: #fff;
  padding: 0.5rem;
  font-family: "Courier New", Courier, monospace;
  font-size: 0.9rem;
  max-width: 40rem;
  width: 100%;
  overflow-wrap: break-word;
  white-space: pre-wrap;
  margin-bottom: 2rem;
}

#debug:before {
  content: "$ ";
  display: inline;
}

#debug span {
  color: #6be234;
}

#debug code {
  color: #e6db74;
}
