body {
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
}

h1 {
    text-align: center;
    margin-top: 30px;
}

form {
    background-color: #ffffff;
    padding: 20px;
    margin: 0 auto;
    width: 50%;
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
}

label {
    display: inline-block;
    width: 150px;
    margin-bottom: 10px;
}

input[type="text"],
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.2);
}

input[type="file"] {
    margin-top: 10px;
}

button {
    display: block;
    margin: 0 auto;
    background-color: #008CBA;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0077A3;
}

#debugInfo {
    margin-top: 20px;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 4px;
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
}
